.navbar{
    padding: 0;
    margin: 0;
    position:absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 50, 0.22) 0px 13px 17px -5px;
}
.navbar ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #FFFFFF;
}
.navbar li{
    color: white;
    font-weight: bold;
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    color:#151515;
    transition: .3s;
}

.navbar li a:hover{
    color: white;
    background-color: #F96E5C;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}